@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Articles</h3>
    @foreach (var article in ViewBag.Articles)
    {
        <div>
            <h4>@article.Title</h4>
            <article>@article.Text</article>
            <p>Posted: @article.Date</p>
        </div>
    }
</div>