@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Blog";
}
<h2>Articles</h2>
@foreach(var post in ViewBag.Articles)
{
    <div class="post">
        <h3>@post.Title</h3>
        <article>@post.Text</article>
        <p>Posted: by @post.PersonId @post.Date</p>
    </div>
}