body {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 30px;
    background-color: deepskyblue;
}

.content {
    width: 80%;
    margin: 0 auto;
    clear: both;
}

.sidebar {
    float: right;
    border: 2px solid red;
}

.main-content {
    float: left;
    width: 50%;
    border: 2px solid red;
}

.content > article {
        border: 2px solid black;
        background-color: yellow;
    }

.clearfix {
    clear: both;
}
