body {
    
}
header, footer{
    height: 40px;
    background-color: deepskyblue;
}
.main-content{
    width: 80%;
    margin: 0 auto;
}
.sidebar{
    float: right;
}
.article {
    border: 2px solid black;
}
article{
    background-color: lightseagreen;
}
